body {
    font-family: 'Roboto Condensed', sans-serif;
}


.counterimg {
    width: 100%;
    padding: 306px 0;
    background-image: url('/img/counter.jpg');
    background-position: center center;
    background-size: cover;
}
.nav {
    padding: 4em 0;
}

a {
    text-decoration: none;
}

.jumbotron {
    background-color: white;
}